{% include "stylesheets/_reset.css" %}

{% include "stylesheets/global/space.css" %}
{% include "stylesheets/global/font-size.css" %}

{% include "stylesheets/compositions/stack.css" %}
{% include "stylesheets/compositions/cluster.css" %}

{% include "stylesheets/utilities/wrapper.css" %}
{% include "stylesheets/utilities/uppercased.css" %}

:root {
  --color-accent: #f97316;
  --color-background: #ffffff;
  --color-text: #2d2d2d;

  --color-text-link: var(--color-accent);

  --space: var(--space-m);
}

body {
  background: var(--color-background);
  color: var(--color-text);

  font-family: system-ui, sans-serif;

  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

:where(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
    margin-block:0
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-weight: normal;
}

p {
  font-size: var(--step-1);
}

a {
  color: var(--color-text-link);
}

ul[role="list"],
ol[role="list"] {
  padding: 0;
}
