@import url("vanilla.css");

:root {
  --link-color: #f97316;
  --link-color-alt: #ea580c;

  --health-shortcuts-color: #fd1148;
  --brb-color: #30b0c7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #f97316;
    --link-color-alt: #ea580c;
  }
}

body {
  text-align: left;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  height: 100%;
  min-height: 100vh;
}

.uppercased {
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: normal;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1em;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1rem 0;
}

.health-shortcuts {
  --link-color: var(--health-shortcuts-color);
  --link-color-alt: var(--health-shortcuts-color);

  .links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
}

.brb {
  --link-color: var(--brb-color);
  --link-color-alt: var(--brb-color);
}
