@import url('vanilla.css');

:root {
  --link-color: #f97316;
  --link-color-alt: #ea580c;
}


@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #f97316;
    --link-color-alt: #ea580c;
  }
}

body {
  text-align: center;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 100vh;
}

h1, h2 {
  margin: 0;
}

h2 {
  font-weight: normal;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1em;
  padding: 0;
}
