<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="fediverse:creator" content="@kp@mastodon.design" />

    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#ffffff" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2d2d2d" />

    {% include "partials/meta-info.html" %}
    {% include "partials/favicon.html" %}

    {% css %} {% include "stylesheets/global.css" %}{% endcss %}

    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    <script src="{% getBundleFileUrl "js" %}"></script>

    <title>annema.me</title>
  </head>
  <body>
    <div class="wrapper">
      {{ content | safe }}

      {% if isCSSNakedDay %}
      <p>
      In celebration of <a href="https://css-naked-day.org/">CSS naked day</a> all of this page's styles are disabled. Because semantic markup works without CSS.
      </p>

      {% endif %}
    </div>
  </body>
</html>
