---
layout: "layouts/base.html"
---

{% block content %}

<article class="stack | home">
  <div class="about-me">
    <h1 class="uppercased">Klaas Pieter Annema</h1>
    <p>
    <a href="https://posthog.com/blog/what-is-a-product-engineer"
       >Product engineer</a>
    </p>
  </div>

  <div class="stack">
    <h2>I write</h2>
    <span>
    <a href="/blog">Blog</a>
    </span>
  </div>

  <div class="stack my-apps">
    <h2>I make</h2>
    <ul role="list" class="cluster">
      <li class="health-shortcuts">
        <a href="/health-shortcuts">Health Shortcuts</a>
      </li>
      <li class="brb"><a href="/brb">brb</a></li>
    </ul>
  </div>

  <div class="stack social">
    <h2>I share</h2>
    <ul role="list" class="cluster">
      <li class="mastodon"><a rel="me" href="https://mastodon.design/@kp">Mastodon</a></li>
      <li class="github"><a href="https://github.com/klaaspieter">GitHub</a></li>
    </ul>
  </div>
</article>

{% endblock %}
