---
layout: "layouts/base.html"
---

{% css %} {% include "stylesheets/prism/prism-tokyo-night-storm.css" %} {%
endcss %}

<article class="post | stack | prose">
  <h1>{{ title }}</h1>
  <ul class="post--metadata">
    <li>
      Published:
      <time datetime="{{ page.date | htmlDateString }}"
        >{{ page.date | readableDate }}</time
      >
    </li>
  </ul>

  {% if "archive" in tags %}
  <div class="post--outdated">
    <p>This post is archived, the content may be out of date.</p>
  </div>
  {% endif %} {{ content | safe }}
</article>
