---
layout: "layouts/base.html"
title: "blog"
eleventyNavigation:
  key: "blog"
---

<article class="blog">
  <h1>Blog</h1>
  <ol role="list" class="stack">
    {% for post in collections.post | reverse %} {% if "archive" not in
    post.data.tags %}
    <li class="post-item">
      <a href="{{ post.url }}">{{ post.data.title }}</a>

      <div class="post-item__date-wrapper">
        <svg class="post-item__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M11.5 21h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" />
          <path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" />
          <path d="M18 22l3.35 -3.284a2.143 2.143 0 0 0 .005 -3.071a2.242 2.242 0 0 0 -3.129 -.006l-.224 .22l-.223 -.22a2.242 2.242 0 0 0 -3.128 -.006a2.143 2.143 0 0 0 -.006 3.071l3.355 3.296z" />
        </svg>
        <time class="post-item__date" datetime="{{ post.date | htmlDateString }}"
                                      >{{ post.date | readableDate }}</time
                                    >
      </div>
    </li>
    {% endif %} {% endfor %}
  </ol>

  <div class="stack" style="margin-top: var(--space-xl)">
    <p>
      Looking for older posts? Check out the
      <a href="/blog/archive">archive</a>.
    </p>
  </div>
</article>
