---
permalink: /.well-known/security.txt
eleventyExcludeFromCollections: true
---
Contact: mailto:security@annema.me
Expires: {{ page.date | addOneYear }}
Preferred-Languages: en, nl
Canonical: https://annema.me/.well-known/security.txt
